* {
    color: pink;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    font-size: 33px;
    font-weight: bold;
    display: flex;
}

p {
    text-align: center;
}